<!DOCTYPE html>
<html lang="en">

<head>
    {{>head}}
</head>

<body>
<div class="row col-md-10 col-md-offset-1">
    {{>nav}}

    {{#if success_msg}}
        <div class="alert alert-success">
            {{success_msg}}
        </div>
    {{/if}}

    {{#if error_msg}}
        <div class="alert alert-danger">
            {{error_msg}}
        </div>
    {{/if}}

    {{#if error}}
        <div class="alert alert-danger">
            {{error}}
        </div>
    {{/if}}

    {{{body}}}

</div>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</body>

<html>