
<div class="panel panel-info">
    <div class="panel-heading strong"><strong>About Toby's Site</strong></div>
    <div class="panel-body">
        <div class="col-md-8">
            <h4>Toby is a young dog who is a mix of: shitzu, pomeranian, dachsund, and beagle.<br>
            He was born on April 8,2016 and shortly after was adopted by Kaitlin Kirkley.<br>
            He resides in Milledgeville, GA and enjoys long walks, chasing balls,<br>
            and chewing up everything that is expensive.
            </h4>
        </div>
        <div class="col-md-4">
            <img alt="TobyAbout" src="http://i.imgur.com/fxBAgJb.jpg" style="height:500px; width:250px"/>
        </div>
        <h6>This Website is property of Kaitlin Kirkley.</h6>
    </div>
</div>